.middle-section {

    background-color: aliceblue;
    width: 630px;

}

.stories { 

    background-color: lightpink;
    height: 85px;

}

.mainpage {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.mainpage .post {

    width: 470px;
    height: 596px;
    margin-bottom: 24px;
    padding-bottom: 16px;

}