.middle-section {

    background-color: aliceblue;
    width: 630px;

}

.stories { 

    height: 85px;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.mainpage {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.mainpage .post {

    width: 470px;
    margin-bottom: 5px;
    padding-bottom: 16px;

}