.post .author-information {

    padding-bottom: 8px;
    height: 42px;

}

.post .author-information {

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

}

.profile-picture-container {

    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: double 2.5px transparent;
    border-radius: 50%;
    background-image: linear-gradient( white, white ),
                      linear-gradient(230deg, rgba(225,48,108,1) 0%,
                      rgba(245,96,64,1) 48%, rgba(255,220,128,1) 100%);

    background-origin: border-box;
    background-clip: content-box, border-box;

    margin-right: 6px;

}

.author-information .profile-picture-container img {

    width: 87%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.5px solid rgba( 96, 96, 96, 0.452 );

}

.author-information .name {

    font-size: 14px;
    font-weight: 500;
    position: relative;
    

}

.author-information .name .middle-dot {

    font-weight: 700;
    font-size: 20px;
    color: rgba( 96, 96, 96 );
    position: absolute;
    top: -4px;

}

.author-information .name .duration {

    font-weight: 400;
    color: rgba( 96, 96, 96 );
    margin-left: 9px;
    vertical-align: middle;

}

.author-information .more {

    width: 24px;
    position: absolute;
    right: 2px;

}

.images {

    position: relative;

}

.images img:nth-of-type(1) {
    
    width: 468px;

    position: relative;
    border: 1px solid rgba(96, 96, 96, 0.24);
    border-radius: 4px;

}

.images .next-image {

    width: 30px;
    position: absolute;
    right: 6.5px;
    top: 46%;
    cursor: pointer;

}

.options {

    height: 40px;
    margin-bottom: 4px;

    display: flex;
    align-items: center;
    position: relative;

}

.options img {

    width: 24px;

}

.options .comment-option {

    margin-left: 15px;

}

.options .save-option {

    position: absolute;
    right: 0;

}

.post .likes {

    height: 18px;
    display: flex;
    align-items: center;

}

.likes .liker-pictures {

    width: 22px;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;

}

.likes .like-amount {

    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;

}

.likes .liker-pictures img {

    width: 13px;;
    border: 2px solid white;
    border-radius: 100px;

}

.liker-pictures .liker-one {

    position: absolute;
    top: 0;
    left: -2px;

}

.liker-pictures .liker-two {

    position: absolute;
    top: 0;
    right: -2px;

}

.post .content-container {

    margin-top: 8px;
    height: 37px;

}

.post .content-container .content {

    display: flex;
    font-size: 14px;
    align-items: center;

}

.post .content-container .content .author-name {

    margin-right: 4px;
    font-weight: 500;

}

.post .content-container .translation {

    font-size: 11px;
    font-weight: 500;
    margin-top: 4px;

}

.post .comments {

    margin-top: 8px;

}

.comments .amount {

    color: rgb(115, 115, 115);
    font-size: 14px;
    margin-bottom: 4px;

}

.comments .comment-container {

    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;

}

.comments .comment-container .like-comment {

    position: absolute;
    right: 0;
    top: 4.5px;
    width: 13px;
    margin-right: 5px;

}

.comment-container .author-name {

    font-weight: 500;
    margin-right: 3px;

}

.comment-container .text {

    position: relative;

}

.comment-container .text .tag {

    color: rgb(0, 55, 107);
    padding-left: 13px;

}

.comment-container .text .at {

    position: absolute;
    left: 0;
    top: 0.3px;

}


.post .add-comment {

    height: 18px;
    margin-top: 4px;

    display: flex;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(219, 219, 219);

}

.post .add-comment input {

    background-color: none;
    border: none;
    font-size: 14px;
    color: black;
    outline: none;
    flex: 1;

}

.post .add-comment input::placeholder {

    color: rgb(115, 115, 115);

}

.post .add-comment .add-emoji {

    width: 13px;
    margin-right: 5px;

}

.options img:hover,
.content-container .author-name:hover,
.add-comment .add-emoji:hover,
.comment-container .like-comment:hover,
.author-information .name .middle-dot:hover {

    opacity: 0.5;
    cursor: pointer;

}


